.DS_Store
/output
externals/PikaCmd/PikaCmd
/projects/build
/projects/.vs/NuXJSRepl_MSVC2019/CopilotIndices
/projects/.vs
/temp
externals/PikaCmd/PikaCmd.exe
/test262-master/
/externals/test262-master.tar.gz
